language: generic
services: docker
script: docker run --mount src=$TRAVIS_BUILD_DIR,target=/usr/src/tex,type=bind dxjoke/tectonic-docker
  /bin/sh -c 'for i in src/lec*.tex; do if ! tectonic "$i" --outfmt pdf --outdir .; then exit 1; fi; done;'

deploy:
  provider: script
  script: bash deploy.sh
  on:
    branch: master
  skip_cleanup: true
